extends ../../layouts/default 
include ../../mixins/box-head
block main 
  .container.my-3
    .row
      .col-12
        +box-head(pageTitle)
    .list-topic
      .row
        each topic in topics
          .col-lg-3.col-md-6.mb-3
            div(class="card")
              a(href=`/songs/${topic.slug}`)
                img(src=topic.avatar)
              div(class="card-body")
                a(href=`/songs/${topic.slug}`)
                  h5(class="card-title") #{topic.title}
                p(class="card-text") #{topic.description}
        
              
        