extends ../../layouts/default.pug 
include ../../mixins/filter.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug

block main

  +alert-success()
  +alert-error()

  .row
    .col-12
      .card.mb-3.box-item
        .card-header Bộ lọc và Tìm kiếm
        .card-body
          .row 
            .col-7
              +filter(filterStatus)
            .col-5 
              +search(keyword)

  .card.mb-3.box-item.box-list
    .card-header Danh sách
    .card-body
      .row 
        .col-6
          form(
            action=`/${prefixAdmin}/topics/change-multi?_method=PATCH`
            method="POST"
            form-change-multi
          ) 
            .d-flex.align-items-start
              .form-group
                select(name="type" class="form-control")
                  option(value="active") Hoạt động
                  option(value="inactive") Dừng hoạt động
                  option(value="delete-all") Xóa tất cả
              .form-group.d-none
                input(
                  type="text"
                  name="ids"
                  value=""
                  class="form-control"
                )
              button(type="submit" class="btn btn-apply") Áp dụng
        .col-3
          a(
            href=`/${prefixAdmin}/topics/trash`
            class="btn btn-trash"
            buttonTrash
          ) 
            i.fa-regular.fa-trash-can
            span Thùng rác 

        .col-3.text-end
          a(
            href=`/${prefixAdmin}/topics/create`
            class="btn btn-create"
            name="buttonCreate"
          ) + Thêm mới
    table(
      class="table table-hover table-sm"
      checkbox-multi  
    )
      thead 
        tr
          td 
            input(type="checkbox" name="checkall")
          th STT 
          th Hình ảnh
          th Tiêu đề
          th Người tạo
          th Người sửa
          th Trạng thái
          th Hành động    
      tbody 
        each item, index in topics
          tr 
            td 
              input(type="checkbox" name="id" value=item.id)
            td #{objectPagination.limitPage * (objectPagination.currentPage - 1) + index + 1}  
            td.image 
              a(
                href=`/${prefixAdmin}/topics/detail/${item.id}`
              )
                img(src=`${item.avatar}` alt=`${item.title}` )     
            td 
              a(
                href=`${prefixAdmin}/topics/detail/${item.id}`
              ) #{item.title} 
            td 
              //- div #{item.createdBy}
              //- div #{moment(item.createdAt).format("DD/MM/YY HH:mm")}
            td 
              //- div #{item.updatedBy}
              //- div #{moment(item.updatedAt).format("DD/MM/YY HH:mm")}
            td
              if(item.status == "active")
                a(
                  href="javascript:;"
                  button-change-status 
                  data-id=item.id 
                  data-status="inactive"
                  class="badge badge-success btn-active"
                ) Hoạt động
              else
                a(
                  href="javascript:;"
                  button-change-status 
                  data-id=item.id 
                  data-status="active"
                  class="badge badge-danger btn-inactive"
                ) Dừng hoạt động
            td
              a(
                href=`/${prefixAdmin}/topics/detail/${item.id}`
                class="btn btn-detail"
              )   
                i.fa-solid.fa-eye
              a(
                href=`/${prefixAdmin}/topics/edit/${item.id}`
                class="btn btn-edit"
              ) 
                i.fa-regular.fa-pen-to-square
              a(
                class="btn btn-delete"
                button-delete 
                data-id=item.id
              ) 
                i.fa-regular.fa-trash-can



  +pagination(objectPagination)
  form(
    form-change-status 
    method="POST"
    action=""
    data-path=`/${prefixAdmin}/topics/change-status`
  )  
  form(
    form-delete 
    method="POST"
    action=""
    data-path=`/${prefixAdmin}/topics/delete`
  )
