extends ../../layouts/default 
include ../../mixins/box-head

block main 
  .container.my-4
    .row
      .col-lg-4.col-12 
        .box-topic 
          .inner-image 
            img(src=topic.avatar, alt=topic.title)
          .inner-content 
            h3.inner-title #{topic.title}
            .inner-desc #{topic.description}

      .col-lg-8.col-12
        table(class="table table-song")
          thead 
            tr 
              th Bài hát
              th Album
              th Lượt thích
          tbody   
            each song in songs
              tr 
                td 
                  div(class="song-item")
                    div(class="inner-image")
                      a(href=`/songs/detail/${song.slug}`)
                        img(src=song.avatar alt=song.title)
                    div(class="inner-content")
                      div(class="inner-title")
                        a(href=`/songs/detail/${song.slug}`) #{song.title}
                      div(class="inner-singer") <i class="fa-solid fa-microphone-lines"></i> #{song.singerName}
                td 
                  div(class="inner-album") Nhạc trẻ
                td
                  div(class="inner-like") <i class="fa-solid fa-thumbs-up"></i>  #{song.like}
      
        
        